.image-list {
    padding: $pa4;
    min-height: 80vh;
    div {
        text-align: center;
    }
}


.image-main {
    width: 80%;

    text-align: center;
    margin: 0 auto;
    div {
        margin: auto;
        img {
            min-width: 100%;
            margin: auto;
        }
    } 
}