.image-list {
    padding: $pa4;
    min-height: 80vh;
    div {
        text-align: center;
    }
}


.image-main {
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
    border: 2px tomato solid;
}